{% load static %}
{% get_static_prefix as STATIC %}

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>SLI-TEST</title>
    <meta name="description" content="slitest">
    <meta name="author" content="Fill Q <admin@njoyx.net>">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="two-thirds column" style="margin-top: 25%; position: relative;padding-left: 15%;"
             ng-controller="AppCtrl">
            <h4>SLI TEST</h4>
            {% block base %}
                <ol>
                    <li><a href="{% url 'step1-url' %}">пункт</a></li>
                    <li><a href="{% url 'step2-url' %}">пункт</a></li>
                    <li><a href="{% url 'admin:slitest_websites_changelist' %}">пункт (админка)</a></li>
                </ol>
            {% endblock base %}
        </div>
    </div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{% static 'js/vendor/angular/angular.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-resource/angular-resource.min.js' %}"></script>
<script type="application/javascript">
    var step1_json = '{% url 'step1-json' %}',
            step2_json = '{% url 'step2-json' %}';
</script>
<script src="{% static 'js/app/app.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>
