{% extends 'step1.html' %}
{% load static %}

{% block ctrl %}
    <div ng-controller="Step2Ctrl">
    <div style="position: absolute; top: 5px; left: 0;"><a href="{% url 'index' %}">&lt; в начало</a></div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/app/step2.js' %}"></script>
{% endblock js %}