{% extends 'base.html' %}
{% load static %}

{% block base %}
    {% block  ctrl %}
        <div ng-controller="Step1Ctrl">
        <div style="position: absolute; top: 5px; left: 0;"><a href="{% url 'index' %}">&lt; в начало</a></div>
        <div style="position: absolute; top: 0; right: 0;">
            <a class="button button-primary" href ng-click="update()">Получить данные</a>
        </div>
    {% endblock ctrl %}
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Сайт</th>
                <th>Тег</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody ng-show="data.length">
            {% verbatim %}
            <tr ng-repeat="(ws,et) in data">
                <td>{{ et.fields.website || et.website__website }}</td>
                <td>{{ et.fields.tags || et.fields.tag || et.tag }}</td>
                <td>{{ et.fields.data || et.data || '...' }}</td>
            </tr>
            {% endverbatim %}
            </tbody>
            <tbody ng-hide="data.length"><tr><td colspan="3">Загрузка данных....</td></tr></tbody>
        </table>
    </div>
{% endblock base %}
{% block js %}
    <script src="{% static 'js/app/step1.js' %}"></script>
{% endblock js %}